/* Style untuk Sidebar Bookmark */
#bookmarkSidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    max-height: 60%;
    background-color: #f8f9fa;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
}

/* Heading kategori */
#bookmarkSidebar h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    margin-top: 30px;
}

/* Daftar kategori yang akan muncul dalam kotak persegi panjang */
/* Tambahkan Flexbox pada container daftar marker */
#categoryList {
    display: flex;
    flex-direction: column; /* Membuat item di dalamnya vertikal */
    gap: 10px;
    padding: 10px;
    max-height: 80%; /* Batas tinggi untuk scroll otomatis */
    overflow-y: auto;
}


.marker-item {
    background-color: #ff5252;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    color: white;
}

/* Efek hover pada marker-item */
.marker-item:hover {
    color: black;
    background-color: #e0e0e0;
}

/* Pastikan tombol kembali selalu di bagian bawah */
.back-button {
    margin-top: auto; /* Dorong tombol kembali ke bawah */
    padding: 10px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 200px;
}

.back-button:hover {
    background-color: #e53d3f;
}


/* Kotak kategori */
.category-box {
    background-color: #f2f2f2;  /* Warna latar belakang kotak */
    border: 1px solid #ccc;  /* Border kotak */
    padding: 10px 15px;  /* Jarak dalam kotak */
    margin: 5px 0;  /* Jarak antara kotak */
    border-radius: 5px;  /* Membuat sudut kotak melengkung */
    cursor: pointer;  /* Mengubah pointer mouse saat berada di atas kategori */
    transition: background-color 0.3s ease;  /* Efek transisi saat hover */
    width: 100%;  /* Mengatur lebar kotak agar bisa menyesuaikan */
    box-sizing: border-box;  /* Menghindari overflow dari padding */
}

/* Menambahkan efek hover untuk kategori */
.category-box:hover {
    background-color: #ff5656;  /* Warna latar belakang saat hover */
}

/* Tombol Close Sidebar */
#bookmarkSidebar button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4f;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#bookmarkSidebar button:hover {
    background-color: #ff2d2f;
}
